<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestConnectionString" connectionString="XpoProvider=MSSqlServer;data source=FURKANPC;integrated security=SSPI;initial catalog=Test" />
    <add name="cn" connectionString="Data Source=FURKANPC;Initial Catalog=Test;Integrated Security=True;initial catalog=Test" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>